.sidebar {
    width: 300px; /* Reduced width */
    background-color: var(--emerald);
    color: var(--white);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    left: 0;
    top: 0;
    padding: 10px 15px;
    align-items: flex-start;
    transition: 0.3s;
}

.sidebar-item.orders, /* Class to target Orders */
.sidebar-item.dealer { /* Class to target Dealer */
    border-bottom: 1px solid #7cc576; /* Add a line below these items */
    width: calc(100% + 30px); /* Extend the border width */
    margin-left: -15px; /* Adjust position to match padding */
}


.sidebar-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: bold;
}

.sidebar-profile {
    display: flex;
    align-items: center;
    margin: 16px 8px;
}

.profile-img {
    width: 35px; /* Adjusted image size */
    height: 35px;
    border-radius: 50%;
    margin-right: 8px; /* Reduced margin */
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align profile info to the left */
}

.profile-name {
    font-weight: bold;
    font-size: 20px;
}

.profile-role {
    font-size: 16px;
    color: var(--green);
}

.sidebar-menu {
    list-style: none;
    border: 2px solid black;
    padding: 0;
    margin: 0;
    width: 100%;
    hr{
        margin: 12px 0;
        border: 1px solid var(--white) ;
    }
}

.sidebar-item {
    padding: 12px 0; 
    margin: 2px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align items to the left */
    cursor: pointer;
    width: 100%; /* Ensure full width */
    font-size: 16px;
    font-weight: 500;
    
}

.sidebar-item i {
    margin-right: 8px; /* Reduced margin */
    font-size: 14px; /* Adjusted icon size */
}

.sidebar-item:hover {
    /* color: var(--black);
    background-color: var(--mint);
    border-radius: 3px; 
    padding-left: 8px;
    transition: 0.3s ease; */
    color: var(--green);
}

.submenu {
    background-color: var(--black);
    width: 90%; 
    padding-left: 40px; 
    list-style: none;
}

.submenu li {
    padding: 8px 0;
    font-size: 16px; 
    cursor: pointer;
}

.submenu li:hover {
    color: #7cc576;
}

.notification-dot {
    background-color: red;
    width: 8px; /* Adjusted dot size */
    height: 8px;
    border-radius: 50%;
    margin-left: 5px;
}

.sidebar-footer {
    font-size: 12px;
    color: #a4a6b3;
    text-align: left; /* Align text to the left */
    margin-top: 20px; /* Optional margin above the footer */
    margin-top: auto; /* Pushes footer to the bottom */
    display: flex;
    flex-direction: column;
}


.sidebar-footer span {
    margin-bottom: 5px; /* Spacing between footer elements */
}
